/*
Filnavn: style/style.css
Skrevet av: Håvard Hunshamar, Ingrid A. Larssen, Miriam Lillebo, Jacob W. Glad-Ørbak, Anzhelika Seliv. 
Dato: 21/10/2016
Mål: nettsidens utseende
*/

/*
OVERSIKT:
1. Generelt
2. Tekst o.l. på siden
3. forsidebilde
4. Meny
5. Footer
6. Forsiden
7. Kjøpesjema
8. Blogg
9. Inspirasjon
10. fototips
x. Galleri
*/

/* test */ 

/* 1. Generelt */
body {
  width: 960px;
  margin: auto;
  background-color: #F3E9DA;
  font-family: microsoft yahei light;
}

html, body {
  height: 100%;
}

#wrapper {
  width: 960px;
  position: absolute;
  top: 20px;
  min-height: calc(100% - 70px);
  background-color: #F6F2EB;
}

.overskrift {
  text-align: center;
  padding-top: 2%;
}



/* 2. Tekst o.l. på siden */
#innhold {
  width: 900px;
  margin: auto;
  font-size: 16px;
}



/* 3.forsidebilde */
#overskrift {
  position: absolute;
  top: 0px;
  right: 30px;
  color: #F0F0F0;
}

#headerbilde {
  width: 900px;
  margin-top: 10px;
  margin-left: 30px;
  margin-left: 30px;
  margin-bottom: -5px;
}

/* 4. Meny */
.logohvit {
  width: 80px;
  position: absolute;
  top: -6px;
}

#menu {
  width: 900px;
  height: 55px;
  line-height: 55px;
  background-color: #A48F6B;
  margin: 0 30px;
  position: relative;
  display: inline-block;
  color: white;
  margin-top: 30px;
}


#menyinnhold {
  text-align: center;
}


#menu a {
  color: #F0F0F0;
  text-decoration: none;
  font-size: 30px;
  height: 55px;
}

#menykontakt, #menykaaseri, #menyfototips, #menykjop, #menyforside {
  border-right: 2px solid white;
}

#menykontakt, #menykaaseri, #menykjop, #menyfototips, #menyopplevelser {
  border-left: 2px solid white;
}


#menu ul {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu a {
  display: inline-block;
  height: 55px;
}

#menyforside {
  width: 135px;
  margin-left: 83px;
}

#menygalleri {
  width: 120px;
}

#menykontakt {
width: 145px;
}

#menyinspirasjon {
  width: 180px;
}

#menyopplevelser {
  width: 200px;
}

#menu li {
  display: inline;
}

#menyinnhold {
  display: inline-flex;

}

#menu {
  color: #F0F0F0;
  font-size: 30px;
}

#drop2 {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 487px;
  padding-top: 3px;
  background-color: #A48F6B;
  width: 184px;
  height: 110px;
}

#menyinspirasjon {
  padding-bottom: 30px;
}

#menu a:hover  {background-color: #C6AA77}

#drop2 a {
    text-align: center;
    display: table;
    width: 180px;
}

#drop2 li {
  text-align: left;
}

#menygalleri {
  padding-bottom: 10px;
}

#drop {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 218px;
  padding-top: 3px;
  background-color: #A48F6B;
  width: 124px;
  height: 55px;
}

#menykjop a {
  text-align: left;
}

#drop a {
    text-align: center;
    display: table;
    width: 120px;
}

#drop li {
  text-align: left;
}

#mobilmenu {
  display: none;
}

#menyknapp {
  display: none;
}

#mobillogo, #mobilbilde {
  display: none;
  position: absolute;
}

@media screen and (max-width: 1110px) {
  #menyinnhold {
    display: none;
  }
  #mobilmenu {
    display: inline;
  }
  #menyknapp, #mobillogo, #mobilbilde {
    display: block;
  }
}

#menyknapp {
  height: 40px;
  width: 50px;
  background-color: #A48F6B;
  float: right;
  margin: 5px 10px;
  border: 3px solid white;
  border-radius: 10px;
}

.line {
  height: 1px;
  width: 36px;
  border: 2px solid white;
  border-radius: 2px;
  background-color: white;
  margin: auto;
  margin-top: 6px;

}

#mobilmenuinnhold {
  display: none;
  float: right;
  margin-right: 50px;
}

#mobilmenu {
  position: absolute;
  right: -20px;
  top: 70px;
}

#mobilmenu ul {
  list-style-type: none;
}

#mobilmenu a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 55px;
  height: 75px;
}

#mobilmenu li {
  width: 300px;
  height: 74px;
  background-color: #A48F6B;
  text-align: center;
  border-top: 1px solid white;
}

.venstreforpil,.venstreforpil li {
  width: 248px;
}

.venstreforpil {
  margin-right: -4px;
  display: inline-block;
}


#hoyreforpil, #hoyreforpil li {
  width: 248px;
}

#hoyreforpil {
  margin-left: -4px;
  display: inline-block;
}


#pil, #pil li {
  width: 50px;
  display: inline-block;
}

#pil li {
  border-left: 1px solid white;
}

#pil2 li {
  border-right: 1px solid white;
}

#pil2, #pil2 li {
  width: 50px;
  display: inline-block;
}

#pil3 li {
  border-left: 1px solid white;
}

#pil3, #pil3 li {
  width: 50px;
  display: inline-block;
}



#mobildrop1, #mobildrop2 {
  display: none;
}
#mobilmenu a:hover  {background-color: #C6AA77}



/* 5. Footer */
footer {
	position: absolute;
	height: 50px;
  bottom: -50px;
	width:960px;
  background-color: #A48F6B;
  margin: 0;
  color: #F0F0F0;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
	}

#insta {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 120px;
  top: 10px;
}

#face {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 160px;
  top: 10px;
}



/* 6. Forsiden */
#left {
  position: absolute;
  color: white;
  height: 20px;
  width: 20px;
  background-color: rgba(0,0,0,0.5);
  left: 30px;
  top: 230px;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  display: none;
}

#right {
  position: absolute;
  color: white;
  height: 20px;
  width: 20px;
  background-color: rgba(0,0,0,0.5);
  right: 30px;
  top: 230px;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  display: none;
}

#right:hover, #left:hover {
 cursor: pointer;
}

#jenslarssenfoto {
  text-align: center;
  font-size: 25px;
  color: #392404
}

#jenslarssenfoto h1 {
  margin-top: 0px;
  font-family: stygg;
}

#jenslarssenfoto h5 {
  font-size: 20px;
  font-style: italic;
  font-family: microsoft yahei light;
}

#forsideomjens {
  width:60%;
  margin:auto;
}

#forsideomjens p {
  font-size: 16px;
}

#underskrift {
  font-style: italic;
}


@font-face{
  font-family: stygg;
  src: url('fonts/ADAM.CG PRO.otf');
}


/* 7. Kjøpeskjema */

#innholdkjop h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#innholdkjop p {
  width: 45%;
  margin-left: 20px;
  font-family: Microsoft YaHei Light;
}

#flytkjop{
  float:right;
  width:45%;
  clear:right;
  margin-right: 20px;
  margin-top:0px;
}

.kjop_bildenavn {
  margin:0px;
  padding:0px;
  font-weight: italic;
}

#eksempelbildekjop {
  margin:0;
  padding:0;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Microsoft YaHei Light;
}

#flytkjop p{
  margin-top:0;
  margin-bottom:10px;
  font-style: italic;
}

.priseks{
  width:100%;
}

#kjope_skjema{
  float:left;
  clear:left;
	width: 45%;
  margin-left:20px;
  margin-right:0px;
}

#kjope_skjema form {
	position: relative;
	height: auto;
	width:100%;
	line-height: 20px;
	display: inline-block;
  text-align: left;
  font-family: Microsoft YaHei Light;
}

#kjope_skjema #annet_input {
	height:100px;
	word-wrap: break-word;
	white-space: wrap;
}

#kjope_skjema textarea {
	width: 100%;
	height: auto;
}

#kjope_skjema input {
	width: 100%;
}

#kjope_skjema label{
	font-weight: bold;
}

/* 8. Blogg */
#blogg {
  width: 800px;
  margin: 30px auto;
}

.bloggbilde {
  width: 100%;
  margin-top: 15px;
}

#blogg h1 {
  margin-bottom: 0px;
}

.innlegg {
  margin-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.underskrift {
  margin: 0;
  font-size: 75%;
}

#stjernebilde {
  float: right;
  width: 60%;
  margin-left: 15px;
}

#stjernebilde img {
  width: 100%;
}

.bloggspace {
  width: 960px;
  height: 35px;
  background-color: #F3E9DA;
  margin-left: -90px;
}

#innhold2 {
  width: 450px;
  line-height: 150%;
  float: left;
  padding-top: 5%;
  font-size: 20px;
}

#linkkontakt {
	text-align: center;

}
#baalbilde {
	height: 235px;
	padding-right: 5%;
	padding-top: 10%;
	float: right;

}
#torsk {
	width: 360px;
	height: 235px;
	position: relative;
	float: left;
	padding-bottom: 5%;
}

/* 9. Inspirasjon */


#innledninginspirasjon{
  max-width: 60em;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 1%;
  font-size: 120%;
}

.inspirasjonen{
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 40px;
  max-width: 60em;
  line-height: 150%;
}

#inspirasjon1{
  max-width: 25em;
  float: left;
  padding-left: 60px;
}

#inspirasjonsbilde1{
  display: block;
  float: right;
  position: relative;
  padding-right: 60px;
}

#inspirasjon2{
  float: right;
  max-width: 30em;
  padding-right: 60px;
}

#inspirasjonsbilde2{
  float: left;
  padding-left: 60px;
}

#inspirasjonsbilde3{
  padding-right: 10px;
}

#inspirasjon3{
  text-align: center;
  max-width: 60em;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 400px;
}

#bildersammen{
  text-align: center;
}

#inspirasjonsbilde5{
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
}

/*10. Fototips*/
#parameter {
  width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;

}
.fototips{
  width: 70%;
  margin-top: 20px;

}
#innhold h1{
  margin-bottom: 10px;
  margin-top: 20px;
}

#f1{
  float: right;
  width: 60%;
  margin-left: 15px;


}

#f2_b {
  margin-top: 3%;
}
#f2{
  float: right;
  bottom: 10px;
  width: 100%;
  margin-right: 0;
  margin-bottom: 3%;

}
#f3{
  bottom: 10px;
  width: 100%;
  margin: auto;
  margin-top: 3%;
  margin-left: 0;
  margin-right: 50%;

}




































/* x. Galleri */

#tekstgalleri{
  font-size: 120%;
  max-width: 60em;
  padding-left: 30px;
  padding-right: 30px;
}

#gallerioverskrift{
  text-align: center;
  padding-top: 1%;
}

#inspirasjonoverskrift{
  text-align: center;
  padding-top: 1%;
}

#innledninginspirasjon{
  max-width: 60em;
  text-align: center;
  padding-top: 1%;
  font-size: 120%;
}

.inspirasjonen{
  padding-left: 70px;
  padding-right: 70px;
  max-width: 60em;

}

div.galleribilder{
  margin: 0 auto;
  margin-left: -43px;
}

.bilde{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.item {
  vertical-align: top;
  display: inline-block;
  width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  }

.caption {
    display: block;
    font-size: 80%;
    padding-bottom: 5px;
    padding-left: 20px;
    }

#linktilkjop{
  margin-left: 80%;
  font-size: 140%;
}

a {
  color: #5c5c3d;
}

a:hover{
  color: #a3a375;
}

#innhold2 {
  width: 450px;
}

#kontakt {
  width: 400px;
  font-size: 20px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  margin-left: 30px;;
  margin-bottom: 350px;
  margin-top: 50px;
}

#kontaktnavn {
  font-size: 25px;
}

#kontakt h1, #kontakt p{
  margin: 0;
}

#kontaktbilde {
  margin-top: 40px;
  width: 400px;
  height: 550px;
  margin-right: 0;
}

#enlargebakgrunn {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.9);
}

#innhald {
  position: fixed;
  top: 10%;
  left: 20%;
  width: 60%;
}

.galleribilder img:hover {
  opacity: 0.7;
  cursor: pointer;

}

#innhald img{
  width: 100%;
}

#infotekst {
  text-align: center;
  top: 60%;
  left: 20%;
  font-size: 25px;
  color: white;
}

#piler {
  color: #f1f1f1;
  font-size: 400%;
  font-family: arial;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#frem {
    position: absolute;
    right: 20px;
    top: 35%;
}

#tilbake {
  position: absolute;
  left: 20px;
  top: 35%;
}

#exit {
  position: absolute;
  top: 1px;
  right: 15px;
  color: #f1f1f1;
  font-size: 60px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#frem:hover {
  text-shadow: 0px 0px 10px #fff;
}

#tilbake:hover {
  text-shadow: 0px 0px 10px #fff;
}

#exit:hover {
  text-shadow: 0px 0px 10px #fff;
}


#innhald span:hover {
  cursor: pointer;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1110px) {
  #innhald {
    width: 100%;
    left: 0%;
    top: 20%;
  }
  #piler {
    font-size: 1000%;
  }
}
