body {
  width: 960px;
  margin: auto;
  background-color: #F3E9DA;
}
/*
html, body {
  height: 100%;
}
*/
#fjell {
  width: 900px;
  margin-top: 10px;
  margin-left: 30px;
  margin-left: 30px;
  margin-bottom: -5px;
}

#logo {
  width: 80px;
  position: absolute;
}

footer {
	position: absolute;
	height: 50px;
  bottom: -50px;
	width:960px;
  background-color: #A48F6B;
  margin: 0
  font-family: Microsoft YaHei Light;
  color: #F0F0F0;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
	}

p {
  font-size: 25px;
  color: #32220A;
  margin: 30px;
}

#menu {
  width: 900px;
  height: 55px;
  line-height: 50px;
  background-color: #A48F6B;
  margin: 0 30px;
  position: relative;
  display: inline-block;
  color: white;
}


#linker {
  text-align: center;
}

#menu a {
  color: #F0F0F0;
  text-decoration: none;
  font-family: Microsoft YaHei Light;
  font-size: 30px;
}

#menu a:hover, #myDropdown a:hover {background-color: #C6AA77}

#side {
  min-height: 100%;
  background-color: #F5F5F5;
  margin-top: 20px;
  width: 960px;
}

#wrapper {
  width: 960px;
  position: relative;
  min-height: calc(100% - 50px);
}

#myDropdown {
    display: none;
    position: absolute;
    left: 465px;
    background-color: #A48F6B;
    min-width: 143.56px;
}

#myDropdown a {
    display: block;
}

#innhold img {
  width: 250px;
  height: 170px;
}

#innhold {
  width: 900px;
  margin: auto;
}

#insta {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 120px;
  top: 10px;
}


#face {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 160px;
  top: 10px;
}
